<div id="bfos_settings_content_wrapper">
    {% include "BFOSSettingsManagementBundle:Setting:index_table.html.twig" %}
</div>
<script type="text/javascript">

    function bfos_settings_management_http_get_from_link(event, anchor) {
        event.preventDefault();
        $.get($(anchor).attr('href'))
                .success(function(data) {
                    $('#bfos_settings_content_wrapper').html(data);
                    bfos_settings_management_bind();
                })
                .error(function() {
                    alert('{{ "bfos.settings.messages.alert.js_error"|trans }}');
                })

    }

    function bfos_settings_management_http_post_from_link(event, anchor, class_form) {
        event.preventDefault();
        var form = $('#bfos_settings_content_wrapper .'+class_form);
        var url  = form.attr('action');
        var dados = form.serialize();
        $.post(url, dados)
                .success(function(data, status, xhq) {
                    bfos_settings_management_unbind();
                    $('#bfos_settings_content_wrapper').html(data);
                    bfos_settings_management_bind();
                })
                .error(function() {
                    alert('{{ "bfos.settings.messages.alert.js_error"|trans }}');
                })
    }

    function bfos_settings_management_bind() {

        bfos_settings_management_unbind();
        $('#bfos_settings_content_wrapper .js_new').bind('click', function(e) { bfos_settings_management_http_get_from_link(e, this); });
        $('#bfos_settings_content_wrapper .js_edit').bind('click', function(e) { bfos_settings_management_http_get_from_link(e, this); });
        $('#bfos_settings_content_wrapper .js_show').bind('click', function(e) { bfos_settings_management_http_get_from_link(e, this); });
        $('#bfos_settings_content_wrapper .js_go_to_list').bind('click', function(e) { bfos_settings_management_http_get_from_link(e, this); });

        $('#bfos_settings_content_wrapper .js_create').bind('click', function(e) { bfos_settings_management_http_post_from_link(e, this, 'js_create_form'); });
        $('#bfos_settings_content_wrapper .js_update').bind('click', function(e) { bfos_settings_management_http_post_from_link(e, this, 'js_update_form'); });
        $('#bfos_settings_content_wrapper .js_delete').bind('click', function(e) { bfos_settings_management_http_post_from_link(e, this, 'js_delete_form'); });

    }

    function bfos_settings_management_unbind() {

        $('#bfos_settings_content_wrapper .js_new').unbind('click');
        $('#bfos_settings_content_wrapper .js_edit').unbind('click');
        $('#bfos_settings_content_wrapper .js_show').unbind('click');
        $('#bfos_settings_content_wrapper .js_go_to_list').unbind('click');

        $('#bfos_settings_content_wrapper .js_create').unbind('click');
        $('#bfos_settings_content_wrapper .js_update').unbind('click');
        $('#bfos_settings_content_wrapper .js_delete').unbind('click');

    }

    jQuery(document).ready(function($) {
        $('.alert').remove();

        bfos_settings_management_bind();

    });
</script>
<style type="text/css">
    .alert-success {
        background-color: #DFF0D8;
        border: 1px solid #D6E9C6;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius:  4px 4px 4px 4px;
        color: #468847;
        margin-bottom: 18px;
        padding: 8px 35px 8px 14px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .page-header-setting {
        margin: 0px 0 10px;
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 17px;
    }

</style>


