<div class="row">
    <div class="span4">
        <h4>HTML Template</h4>
        <p>{{ value.html_template|raw }}</p>
    </div>
    <div class="span4">
        <h4>Text Template</h4>
        <p>{{ value.text_template|nl2br }}</p>
    </div>
</div>